html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

#container {
    /* border: 1px solid #333; */
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
}

.squares {
    border: 1px solid #444;
    width: calc(40vw / 16);
    height: calc(40vw / 16);
}

.hover {
    background-color: #333;
}